*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'b yekan';
}
.container{
    /* background-color: aqua; */
    margin: 20px 205px;
    padding: 5px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-right{
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-left{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-right img{
    width: 170px;
}
.header-right ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.header-right li{
    padding: 0 15px;
    color: rgb(166, 166, 166);
}
.login , .sign-up{
    /* background-color: brown; */
    margin: 9px;
    padding: 4px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up{
    color: #038DEB;
}
.login{
    border-radius: 40px;
    background-color: #038DEB;
    color: white;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px 100px;
}
.sec1-right{
    width: 30%;
    direction: rtl;
    justify-items: center;
}
.sec1-right h1 , h3 , p{
    margin-top: 10px;
    text-align: justify;
    color: #278ED9;
}
.sec1-right p{
    color: rgb(119, 119, 119);
    font-size: 18px;
}
.sec1-right h3{
    margin-bottom: 30px;
}
.sec1-left img{
    margin: 0;
    width: 900px;

}
.test{
    display: none;
}